.left-player {
    grid-area: maincenterleft;
    justify-content: center;
    align-items: center;
    display: grid;
}

.right-player {
    grid-area: maincenterright;
    justify-content: center;
    align-items: center;
    display: grid;
}

.timer {
    grid-area: maincenter;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.brounded {
    border-radius: 50%;
}