@page "/"

<div class="left-player">
    <Team PlayerName="Pierrick"></Team>
</div>
<div class="timer">
    <button type="button" class="button brounded"><span>Start</span><br /><span>Timer</span></button>
</div>

<div class="right-player">
    <Team PlayerName="Pierrick"></Team>
</div>


