.left-player {
    grid-area: maincenterleft;
}

.right-player {
    grid-area: maincenterright;
}

.timer {
    grid-area: maincenter;
    align-items: center;
    display: grid;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

::deep .brounded {
    border-radius: 50%;
}

.servicebutton {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 4px 2px;
    border: none;
}

.right {
    display: grid;
    justify-content: end;
}