@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <div>M1</div>
        <div>M2</div>
    </div>
    <main>
        @Body
    </main>
</div>

@code {
    SquashGame model;

    protected override Task OnInitializedAsync()
    {
        model = new SquashGame(null);
        //throw new NotImplementedException("");
        return Task.CompletedTask;
    }
}