.page {
    display: grid;
    grid-template-areas:
        'header'
        'main';
    grid-template-rows: auto 1fr;
    height: 100vh;
}
.header {
    height: auto;
    display: flex;
}

main {
    display: grid;
    grid-template-areas:
        'maincenterleft maincenter maincenterright'
        'mainfooter mainfooter mainfooter';
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;
    grid-area: main;
}
