.detailScore {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    align-items: stretch;
    flex-direction: column;
    overflow-y: auto;
    max-height: 65vh;
}

.ptLeft {
    border-radius: 50%;
    border: orange solid 1px;
    width: 100%;
}

.ptRight {
    border-radius: 50%;
    border: orange solid 1px;
}

.ptLeftContainer {
    display: grid;
    grid-template-areas:'ptleft ptright';
    grid-template-columns: 1fr 1fr;
}

.ptRightContainer {
    display: grid;
    grid-template-areas:'ptleft ptright';
    grid-template-columns: 1fr 1fr;
}

.ptRightPipe {
    border-left: orange solid 1px;
    grid-area: ptright;
    display: grid;
    text-align: center;
}

.ptLeftPipe {
    border-right: orange solid 1px;
    display: flex;
    text-align: center;
    justify-items: stretch;
    align-items: stretch;
}