.one-team {
    height: 100%;
    display: grid;
    grid-template-areas:
        "headerName"
        "headerLet"
        "counter"
        "footer";
        grid-template-rows: auto auto 1fr auto;
}

.bignumber {
    font-size: 70vmin;
    line-height: 65vmin;
    cursor: pointer;
    user-select: none;
}

.bignumbercontainer {
    display: grid;
    grid-area: counter;
    align-items: center;
    justify-content: center;
}
.playername {
    font-size: 2rem;
    text-align: center;
    background-color: blue;
    border-radius: 2rem;
    color: white;
}
.playername-left {
    background: blue;
}
.playername-right {
    background: red;
}

.playernameEdit {
    background: none;
    border: none;
    text-align: center;
}
/* Portrait */
@media only screen and (orientation: portrait) {
    .bignumber {
        font-size: 25vw;
        line-height: 20vw;
    }
}

/* Landscape */
@media only screen and (orientation: landscape) {
}