
<div class="one-team">
    <div class="playername"><span>@PlayerName</span></div>
    <div class="bignumbercontainer"><span class="bignumber" @onclick="OnBigNumberClick">@Player.Score</span></div>
</div>


@code {
    [Parameter]
    public string PlayerName { get; set; } = string.Empty;

    [Parameter]
    public bool IsRight { get; set; } = false;

    [Parameter]
    public SquashGame Game { get; set; } = null;

    [Parameter]
    public SquashPlayer Player { get; set; } = null;

    private PlayerEnum currentPlayer;

    protected override Task OnInitializedAsync()
    {
        currentPlayer = Player == Game.Player1 ? PlayerEnum.PlayerOne : PlayerEnum.PlayerTwo;
        return base.OnInitializedAsync();
    }

    private Task OnBigNumberClick()
    {
        if (Game.Status == GameStatus.TossChoice)
        {
            Game.SetPlayerWinToss(currentPlayer);
        } else if (Game.Status == GameStatus.Playing)
        {
            Game.AddPoint(currentPlayer);
            StateHasChanged();
        }
        //TODO
        return Task.CompletedTask;
    }
}