
<div class="one-team">
    <div class="playername"><span style="background-color: aliceblue;border-radius:1rem">@PlayerName</span></div>
    <div class="bignumbercontainer"><span class="bignumber">?</span></div>
    <div style="grid-area: footer;">
        <button class="servicebutton brounded">R</button>
    </div>
</div>


@code {

    [Parameter]
    public string PlayerName {get; set;}

    [Parameter]
    public string TeamClass {get;set;} = string.Empty;
}