
<div class="one-team">
    <div class="playername"><span>@PlayerName</span></div>
    <div class="bignumbercontainer"><span class="bignumber">9</span></div>
</div>


@code {
    [Parameter]
    public string PlayerName { get; set; } = string.Empty;

    [Parameter]
    public string TeamClass { get; set; } = string.Empty;

    [Parameter]
    public bool IsRight { get; set; } = false;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}